flows_peopleCounter_RPI-BTN_V0.1_2020.06.24.json
[{"id":"841149ca.139e48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e62c907.77deb7","type":"rpi-gpio in","z":"841149ca.139e48","name":"","pin":"7","intype":"tri","debounce":"25","read":true,"x":110,"y":140,"wires":[["ffe04db1.0e7c","8710cf6a.79576"]]},{"id":"1f342a2a.0565b6","type":"rpi-gpio in","z":"841149ca.139e48","name":"","pin":"5","intype":"tri","debounce":"25","read":true,"x":90,"y":400,"wires":[["cb1a7b4c.3425c8","fb9a39cb.bf0d58"]]},{"id":"9b6a5d03.9a365","type":"falling-edge","z":"841149ca.139e48","name":"","threshold":"1","x":110,"y":520,"wires":[["162bbb25.4839a5","8ef4787a.033098","afbc5699.ff6838","45cabf30.eaada","4bc3c934.483c58"]]},{"id":"906635b0.f20b88","type":"falling-edge","z":"841149ca.139e48","name":"","threshold":"1","x":110,"y":60,"wires":[["6be344d.8e755bc","6866620c.f6e05c","e866da66.7d2328","96be3a47.862348","99ddb72f.ec5298"]]},{"id":"ffe04db1.0e7c","type":"delay","z":"841149ca.139e48","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":110,"y":100,"wires":[["906635b0.f20b88"]]},{"id":"fb9a39cb.bf0d58","type":"delay","z":"841149ca.139e48","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":110,"y":460,"wires":[["9b6a5d03.9a365"]]},{"id":"9acf3f75.a97f5","type":"function","z":"841149ca.139e48","name":"Data of Calculation LOGO!","func":"var total=flow.get('total') || 0;\n flow.set(msg.topic, msg.payload);\n var output={};\n \n  inrise=flow.get(\"inrise\");\n   s1falldown=flow.get(\"s1falldown\");\n    outrise=flow.get(\"outrise\");\n     s2falldown=flow.get(\"s2falldown\");\n     flag=flow.get('flag');\n\nif(flag===\"true\"){\nif(inrise===\"true\"){\nif(outrise===\"true\"){\n    if(s1falldown===\"true\"){\n        if(s2falldown===\"true\"){\n            total++;\n    flow.set('total',total);\n    flow.set('flag',\"null\"); \n    output.peopleIn=total;\n    \n    msg.payload = output;\n    msg.topic = \"People-In\";\n    return msg;\n    }\n    }\n}\n}\n}\n","outputs":1,"noerr":0,"x":720,"y":140,"wires":[["13d5a6c6.bbc729"]]},{"id":"13d5a6c6.bbc729","type":"debug","z":"841149ca.139e48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":200,"wires":[]},{"id":"cb1a7b4c.3425c8","type":"rising-edge","z":"841149ca.139e48","name":"","threshold":"0","x":110,"y":360,"wires":[["ea0005f0.445bf8","e2b13661.7b9188"]]},{"id":"8710cf6a.79576","type":"rising-edge","z":"841149ca.139e48","name":"","threshold":"0","x":100,"y":200,"wires":[["30e887aa.387b68","f8da58a3.590c88"]]},{"id":"6be344d.8e755bc","type":"change","z":"841149ca.139e48","name":"","rules":[{"t":"set","p":"s1falldown","pt":"flow","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":60,"wires":[["9acf3f75.a97f5"]]},{"id":"dfdcb09c.ce3c9","type":"change","z":"841149ca.139e48","name":"","rules":[{"t":"change","p":"s1falldown","pt":"flow","from":"true","fromt":"str","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":140,"wires":[[]]},{"id":"162bbb25.4839a5","type":"change","z":"841149ca.139e48","name":"","rules":[{"t":"set","p":"s2falldown","pt":"flow","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":500,"wires":[["9acf3f75.a97f5"]]},{"id":"6866620c.f6e05c","type":"delay","z":"841149ca.139e48","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":100,"wires":[["dfdcb09c.ce3c9"]]},{"id":"30e887aa.387b68","type":"change","z":"841149ca.139e48","name":"","rules":[{"t":"set","p":"inrise","pt":"flow","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":200,"wires":[["7211b4b2.15f6cc"]]},{"id":"ea0005f0.445bf8","type":"change","z":"841149ca.139e48","name":"","rules":[{"t":"set","p":"outrise","pt":"flow","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":360,"wires":[["9acf3f75.a97f5"]]},{"id":"f0098633.ae2df8","type":"change","z":"841149ca.139e48","name":"","rules":[{"t":"change","p":"s2falldown","pt":"flow","from":"true","fromt":"str","to":"false","tot":"str"},{"t":"change","p":"outrise","pt":"flow","from":"true","fromt":"str","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":400,"wires":[[]]},{"id":"9a8e857e.01acf8","type":"inject","z":"841149ca.139e48","name":"","topic":"","payload":"s2falldown1","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":840,"y":500,"wires":[["aa22089e.104598"]]},{"id":"70a92dd6.7e7524","type":"inject","z":"841149ca.139e48","name":"","topic":"","payload":"s1falldown1","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":840,"y":560,"wires":[["8f6a08bc.a27338"]]},{"id":"8f6a08bc.a27338","type":"delay","z":"841149ca.139e48","name":"","pauseType":"delay","timeout":"63","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1010,"y":600,"wires":[["6e34468d.1c7c68"]]},{"id":"6e34468d.1c7c68","type":"debug","z":"841149ca.139e48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1120,"y":520,"wires":[]},{"id":"aa22089e.104598","type":"debug","z":"841149ca.139e48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1120,"y":480,"wires":[]},{"id":"d72e17d9.7be308","type":"inject","z":"841149ca.139e48","name":"","topic":"","payload":"flag","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":830,"y":360,"wires":[["610d7b2.c92b984"]]},{"id":"7d560064.9b8a5","type":"inject","z":"841149ca.139e48","name":"","topic":"","payload":"inrise1","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":840,"y":420,"wires":[["ca5bd0a7.03bd5"]]},{"id":"78b8dda6.088594","type":"debug","z":"841149ca.139e48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":320,"wires":[]},{"id":"42b474d.9b2958c","type":"debug","z":"841149ca.139e48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":420,"wires":[]},{"id":"610d7b2.c92b984","type":"delay","z":"841149ca.139e48","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":970,"y":320,"wires":[["78b8dda6.088594"]]},{"id":"ca5bd0a7.03bd5","type":"delay","z":"841149ca.139e48","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1030,"y":400,"wires":[["42b474d.9b2958c"]]},{"id":"8ef4787a.033098","type":"delay","z":"841149ca.139e48","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":440,"wires":[["f0098633.ae2df8"]]},{"id":"afbc5699.ff6838","type":"delay","z":"841149ca.139e48","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":310,"y":280,"wires":[["dfdcb09c.ce3c9"]]},{"id":"7910c39d.8dc47c","type":"comment","z":"841149ca.139e48","name":"Consider Entry Gate","info":"","x":570,"y":20,"wires":[]},{"id":"8095fa96.20c608","type":"comment","z":"841149ca.139e48","name":"Sensor-1","info":"","x":100,"y":20,"wires":[]},{"id":"f4731aa2.92b798","type":"comment","z":"841149ca.139e48","name":"Sensor-2","info":"","x":100,"y":320,"wires":[]},{"id":"7211b4b2.15f6cc","type":"function","z":"841149ca.139e48","name":"","func":"var flag=flow.get('flag') || 0;\n\nflow.set(msg.topic, msg.payload);\n\ninrise=flow.get(\"inrise\");\n\nif(inrise===\"true\"){\n    if(flag===\"null\"){\n        flow.set('flag',\"true\"); \n    }else{\n        flow.set('flag',\"false\"); \n    }\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":200,"wires":[[]]},{"id":"7e3b7543.2b544c","type":"function","z":"841149ca.139e48","name":"Data of Calculation LOGO!","func":"var total1=flow.get('total1') || 0;\n flow.set(msg.topic, msg.payload);\n var output={};\n flag=flow.get('flag');\n  inrise1=flow.get(\"inrise11\");\n   s1falldown1=flow.get(\"s1falldown1\");\n    outrise1=flow.get(\"outrise1\");\n     s2falldown1=flow.get(\"s2falldown1\");\n\nif(flag===\"false\"){\nif(inrise1===\"true\"){\nif(outrise1===\"true\"){\n    if(s1falldown1===\"true\"){\n        if(s2falldown1===\"true\"){\n            total1++;\n    flow.set('total1',total1); \n    flow.set('flag',\"null\"); \n    output.peopleout=total1;\n    \n    msg.payload = output;\n    msg.topic = \"People-out\";\n    return msg;\n    }\n    }\n}\n}\n}\n\n","outputs":1,"noerr":0,"x":640,"y":840,"wires":[["e13e3626.003018"]]},{"id":"e13e3626.003018","type":"debug","z":"841149ca.139e48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":840,"wires":[]},{"id":"45cabf30.eaada","type":"change","z":"841149ca.139e48","name":"","rules":[{"t":"set","p":"s1falldown1","pt":"flow","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":680,"wires":[["7e3b7543.2b544c"]]},{"id":"4bd4172f.3af858","type":"change","z":"841149ca.139e48","name":"","rules":[{"t":"change","p":"s1falldown1","pt":"flow","from":"true","fromt":"str","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":760,"wires":[[]]},{"id":"99ddb72f.ec5298","type":"change","z":"841149ca.139e48","name":"","rules":[{"t":"set","p":"s2falldown1","pt":"flow","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1120,"wires":[["7e3b7543.2b544c"]]},{"id":"4bc3c934.483c58","type":"delay","z":"841149ca.139e48","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":720,"wires":[["4bd4172f.3af858"]]},{"id":"e2b13661.7b9188","type":"change","z":"841149ca.139e48","name":"","rules":[{"t":"set","p":"inrise1","pt":"flow","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":800,"wires":[["54439bbc.d60e04"]]},{"id":"f8da58a3.590c88","type":"change","z":"841149ca.139e48","name":"","rules":[{"t":"set","p":"outrise1","pt":"flow","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":920,"wires":[["7e3b7543.2b544c"]]},{"id":"4dea48af.b46c78","type":"change","z":"841149ca.139e48","name":"","rules":[{"t":"change","p":"s2falldown1","pt":"flow","from":"true","fromt":"str","to":"false","tot":"str"},{"t":"change","p":"outrise1","pt":"flow","from":"true","fromt":"str","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1060,"wires":[[]]},{"id":"96be3a47.862348","type":"delay","z":"841149ca.139e48","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":1000,"wires":[["4dea48af.b46c78"]]},{"id":"e866da66.7d2328","type":"delay","z":"841149ca.139e48","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":960,"wires":[["4bd4172f.3af858"]]},{"id":"62302c3a.6fb664","type":"comment","z":"841149ca.139e48","name":"Sensor-2","info":"","x":120,"y":1020,"wires":[]},{"id":"54439bbc.d60e04","type":"function","z":"841149ca.139e48","name":"","func":"flag=flow.get('flag');\n\nflow.set(msg.topic, msg.payload);\n\ninrise1=flow.get(\"inrise1\");\n\nif(inrise1===\"true\"){\n    if(flag===\"null\"){\n        flow.set('flag',\"false\"); \n    }else{\n        flow.set('flag',\"true\"); \n    }\n    \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":800,"wires":[[]]},{"id":"f6563e84.5dca5","type":"inject","z":"841149ca.139e48","name":"","topic":"","payload":"outrise1","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":850,"y":640,"wires":[["bb9f2ad1.2eb048"]]},{"id":"bb9f2ad1.2eb048","type":"debug","z":"841149ca.139e48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1020,"y":680,"wires":[]}]